/* Fonts */
/* Colors */
/* Time functions */
body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Clear browser styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    margin-bottom: 50px;
  }
}

.section-top-border {
  position: absolute;
  width: calc(100% - 30px);
  margin-left: 30px;
  top: 0;
  height: 3px;
  background-color: #302e2f;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-label {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  min-height: 100px;
  padding-left: 15px;
  padding-top: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='350' height='85' viewBox='0 0 348 85'%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23302e2f;fill-opacity:1' d='M0 64.762C0 75.937 9.059 85 20.234 85h274.329a20.23 20.23 0 0 0 16.304-8.258l32.695-44.523C353.375 18.852 343.837 0 327.255 0H20.234C9.06 0 0 9.063 0 20.238Zm0 0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-label-text {
  position: absolute;
  font-size: 26px;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  -webkit-transform: translate(20px, 10px);
          transform: translate(20px, 10px);
}
.section-big-title {
  font-size: 21px;
  font-weight: 700;
}

.section-med-title {
  font-size: 17px;
  font-weight: 600;
}

.section-small-title {
  font-weight: 600;
  font-size: inherit;
}

.no-scroll {
  overflow: hidden;
}

.section-experience__list, .section-softwares__list, .section-education__list, .section-projects__list, .section-tech-skills__list, .section-soft-skills__list, .section-carieer__list, .header-contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.section-education__item, .section-projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.section-education__item::before, .section-projects__item::before {
  position: absolute;
  content: "";
  left: -12px;
  border: 3px solid #302e2f;
  border-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
}

.section-projects__ref, .header-contacts__ref {
  text-decoration: none;
  color: inherit;
  fill: white;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-projects__ref:hover, .header-contacts__ref:hover, .section-projects__ref:focus, .header-contacts__ref:focus {
  color: grey;
  fill: grey;
}

/*
|========================================
| section
|========================================
*/
/*
|========================================
| flex-basis
|========================================
*/
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.header-photo {
  width: 30%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='350' height='262' viewBox='0 0 349 262'%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23302e2f;fill-opacity:1' d='M0 30.34766C0 13.58594 13.5664 0 30.30469 0H271.8828c14.10156 0 26.33985 9.74219 29.51953 23.5l46.57032 201.30469C352.37109 243.82813 337.94922 262 318.44922 262H30.30469C13.5664 262 0 248.41406 0 231.65234Zm0 0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-photo__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.header-photo__image {
  border-radius: 50%;
  border: 5px solid white;
  height: 220px;
  width: 220px;
  background-color: #808080;
  margin-left: 12%;
}

.header-contacts {
  width: 75%;
  padding-top: 20px;
  padding-left: 100px;
  font-size: 18px;
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='850' height='260' viewBox='0 0 848 260'%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23302e2f;fill-opacity:1' d='M848 229.88281C848 246.51562 834.53125 260 817.91016 260H76.5703c-14 0-26.15234-9.66797-29.3125-23.32031L1.01953 36.91406C-3.34766 18.03516 10.97266 0 30.33203 0h787.57813C834.53125 0 848 13.48438 848 30.11719Zm0 0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-contacts__name {
  font-size: 32px;
  text-align: justify;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.header-contacts__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__icon {
  margin-right: 10px;
}

.section-carieer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-carieer__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-carieer__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-carieer:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-carieer:hover .section-top-border {
  background-color: grey;
}
.section-carieer__text {
  font-size: 16px;
  font-weight: 500;
}
.section-carieer__data {
  padding-bottom: 30px;
}

.section-soft-skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-soft-skills__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-soft-skills__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-soft-skills:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-soft-skills:hover .section-top-border {
  background-color: grey;
}
.section-soft-skills__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}
.section-soft-skills__list {
  list-style: disc;
  gap: 10px;
  border-left: none;
}
.section-soft-skills__item {
  display: list-item;
}

.section-tech-skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-tech-skills__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-tech-skills__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-tech-skills:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-tech-skills:hover .section-top-border {
  background-color: grey;
}
.section-tech-skills__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}
.section-tech-skills__list {
  gap: 10px;
  border-left: none;
}
.section-tech-skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-projects__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-projects__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-projects:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-projects:hover .section-top-border {
  background-color: grey;
}
.section-projects__thumb {
  position: relative;
  margin-bottom: 30px;
}
.section-projects__thumb:after {
  pointer-events: none;
  content: "";
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-projects__thumb:hover:after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(45deg, rgb(246, 246, 246), rgb(240, 240, 240));
  opacity: 0.25;
}
.section-projects__image {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-projects__image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-education {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-education__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-education__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-education:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-education:hover .section-top-border {
  background-color: grey;
}
.section-softwares {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-softwares__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-softwares__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-softwares:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-softwares:hover .section-top-border {
  background-color: grey;
}
.section-softwares__list {
  border-left: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-softwares__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-preferred-size: calc((100% - 120px) / 5);
      flex-basis: calc((100% - 120px) / 5);
}
.section-softwares__item:hover .section-softwares__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.section-softwares__thumb {
  max-width: 96px;
}
.section-softwares__img {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-softwares__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 5px;
}

.section-experience {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-experience__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  padding-left: 30px;
  padding-top: 30px;
}
.section-experience__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  border-left: 3px solid #302e2f;
}
.section-experience:hover .section-label {
  -webkit-filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
          filter: invert(53%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(94%) contrast(90%);
}
.section-experience:hover .section-top-border {
  background-color: grey;
}
.section-experience__data {
  padding-left: 100px;
}
.section-experience__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.section-experience__item::before {
  position: absolute;
  left: -42px;
  content: "";
  border: 3px solid #302e2f;
  border-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
}
.section-experience__date {
  position: absolute;
  -webkit-transform: translate(-125px, 3px);
          transform: translate(-125px, 3px);
}/*# sourceMappingURL=main.css.map */