.section-experience {
  @include section;

  &__data {
    padding-left: 100px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &::before {
      position: absolute;
      left: -42px;
      content: '';
      border: 3px solid $label-hover-color;
      border-radius: 50%;
      background-color: white;
      height: 20px;
      width: 20px;
    }
  }

  &__date {
    position: absolute;
    transform: translate(-125px, 3px);
  }
}
