.section-projects {
  position: relative;
  display: flex;
  flex-direction: row;

  //   &__text {
  //     font-size: 16px;
  //     font-weight: 500;
  //   }

  &__data {
    flex-grow: 1;
    width: 70%;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &__list {
    @extend %list;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-left: 30px;
    border-left: 3px solid #302e2f;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &::before {
      position: absolute;
      left: -12px;
      content: '';
      border: 3px solid #302e2f;
      background-color: $section-bg-color;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }

  &__description {
  }

  &__ref {
    @extend %link;
  }
}
