.section-soft-skills {
  @include section;

  &__data {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  &__list {
    list-style: disc;
    gap: 10px;
    border-left: none;
  }

  &__item {
    display: list-item;
  }
}
