%list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

%link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms $cubic-bezier;
  // &:hover,
  // &:focus {
  //   color: $accent-blue-color;
  //   fill: $accent-blue-color;
  // }
}
