%list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

%list-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &::before {
    position: absolute;
    content: '';
    left: -12px;
    border: 3px solid $label-hover-color;
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: 20px;
  }
}

%link {
  text-decoration: none;
  color: inherit;
  fill: white;

  transition: {
    property: color, fill;
    duration: 250ms;
    timing-function: $cubic-bezier;
  }

  &:hover,
  &:focus {
    color: grey;
    fill: grey;
  }
}
