/* Fonts */
$main-font-family: 'Montserrat', sans-serif;
$main-font-color: #000000;
$title-font-color: #010322;
$label-font-color: white;

/* Colors */
$label-hover-color: #302e2f;

/* Time functions */
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
