/* Fonts */
$main-font-family: 'Montserrat', sans-serif;
$main-font-color: #000000;
$title-font-color: #010322;
$label-font-color: white;

/* Colors */
$section-bg-color: #e5e5e5;
// $accent-blue-color: #2196f3;
// $accent-black-color: #000;
// $main-white-color: #fff;
// $main-dark-color: #212121;
// $main-grey-color: #757575;

/* Time functions */
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
