.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.section {
  @media screen and (max-width: $desktop) {
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.section-top-border {
  position: absolute;
  width: calc(100% - 30px);
  margin-left: 30px;
  top: 0;
  height: 3px;
  background-color: $label-hover-color;
}

.section-label {
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  min-height: 100px;

  padding-left: 15px;
  padding-top: 20px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='350' height='85' viewBox='0 0 348 85'%3E%3Cpath style='stroke:none;fill-rule:nonzero;fill:%23302e2f;fill-opacity:1' d='M0 64.762C0 75.937 9.059 85 20.234 85h274.329a20.23 20.23 0 0 0 16.304-8.258l32.695-44.523C353.375 18.852 343.837 0 327.255 0H20.234C9.06 0 0 9.063 0 20.238Zm0 0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  &-text {
    position: absolute;
    font-size: 26px;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 700;
    color: $label-font-color;
    transform: translate(20px, 10px);
  }

  @media screen and (min-width: $desktop) {
  }
}

.section-big-title {
  font-size: 21px;
  font-weight: 700;
}

.section-med-title {
  font-size: 17px;
  font-weight: 600;
}

.section-small-title {
  font-weight: 600;
  font-size: inherit;
}

.no-scroll {
  overflow: hidden;
}
